#outcomes-container {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #33372f;
}

#outcomes-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

#outcome {
  border: none;
  box-shadow: none;
  font-family: "Prompt", serif;
  font-weight: 600;
  font-style: normal;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.4rem;
  align-items: baseline;
  max-height: 550px;
  overflow-y: auto;
  margin: 0;
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.list-item {
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 95%;
}

.shrink-list {
  height: 400px;
}

.open-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.5rem;
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.form-buttons {
  height: 40px;
  width: 180px;
  font-size: 1.4rem;
  align-self: center;
  background-color: #3d3e3c;
  font-family: "Prompt", serif;
  font-weight: 400;
  font-style: normal;
}

.form-buttons:hover {
  background-color: #474946;
}

textarea {
  padding: 10px;
  resize: none;
  overflow-y: auto;
  max-height: 110px;
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
}

.prompt {
  font-size: 1.2rem;
  font-family: "Prompt", serif;
  font-weight: 300;
  font-style: normal;
  align-self: center;
  margin-left: -40px;
  color: rgba(255, 255, 255, 0.515);
}

.line {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: rgb(83, 83, 83);
}

@media (max-width: 1024px) {
  #outcomes-container {
    width: 40vw;
  }
}

@media (max-width: 430px) {
  #outcomes-container {
    width: 80vw;
  }
}
