#outcomes-container {
  width: 30vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  outline: 5px double rgb(167, 169, 50);
  padding: 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
}

#outcomes-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 90%;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
  justify-content: baseline;
  align-items: baseline;
}

.open-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.4rem;
}

.form-buttons {
  height: 40px;
  width: 150px;
  font-size: 1.3rem;
  justify-self: end;
  align-self: center;
  background-color: rgb(77, 77, 77);
}

.form-text {
  padding: 10px;
  resize: none;
}
